.logo {

	text-decoration: none;

	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	justify-content: center;

	margin-top: -15px;
	padding-top: 10px;
	position: relative;
	height: 101px;
	text-decoration: none;

	img {
		width: 20%;
    	height: 90%;
	}

    &:hover,
	&:active,
	&:focus {
		border-radius: $corner-radius;
		background: $button-hover-color;
		color: $button-hover-text-color;

		i {
			color: $button-hover-text-color;
		}
	}
}