.bannerImage {
	margin: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	h2 {
	    font-size: 260%;
		color: #fff;
		filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.5));
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
}