.window {
	border-radius: $corner-radius;
	background: $chrome-light-color;

  section {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
  }

	section .gallery {
      position: relative;
		  background: #fff;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      border-radius: $corner-radius;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      overflow: hidden;

      .leftAndRightButtons {

         .leftButton {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
         }

         .rightButton {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            position: absolute;
            top:0;
            bottom: 0;
            right: 0;
         }

         button {
            border: none;
            background: none;
            font-size: 30px;

            i {
               color: rgba(255, 255, 255, .6);
               text-shadow: 2px 2px 23px rgba(0, 0, 0, 0.4);
            }

            &[disabled] {
               display: none;
            }
         }
      }

      .dots {
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         display: -ms-flexbox;
         display: -webkit-flex;
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 25px;

            button {
               margin: 0 5px;
               border: none;
               border-radius: 18px;
               padding: 9px;
               background: rgba(255, 255, 255, .6);

               &[disabled] {
                  background: rgba(255, 255, 255, .3);
               }
            }
      }

      @media(min-width: $min-tablet-width) {
         width: 60%;
         border-bottom-left-radius: 0;
         border-top-right-radius: 0;
      }
	}

  section .slide > div {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
         height: auto;
      }
   }

	section .info {

		.content {
			padding: 30px 30px 20px;

			p {
				color: $content-text-color;
			}

         .description {
            margin-bottom: 30px;
         }

         .categories button {
            display: inline-block;
            margin-right: 5px;
            font-size: 86%;
            padding: 6px 15px 6px;
            i {
               font-size: 200%;
               margin-right: 10px;
               vertical-align: middle;
            }
         }
		}

      @media(min-width: $min-tablet-width) {
         width: 40%;
      }
	}

  @media (max-width: $max-mobile-width) {
    margin-left: 10px;
    margin-right: 10px;

    section .info {
      overflow: initial;
      max-height: none;
    }
    
    section {
      overflow: hidden;
      display: block;
      .gallery {
        border-top-left-radius: $corner-radius;
        border-top-right-radius: $corner-radius;
      }

      .info .content {
         padding-top: 10px;
         padding-bottom: 10px;
      }
    }
  }

   @media(min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      .gallery {
        border-top-left-radius: $corner-radius;
        border-bottom-left-radius: $corner-radius;
      }
    }
}

.emailForm {
  border-bottom-left-radius: $corner-radius;
  border-bottom-right-radius: $corner-radius;
  overflow: hidden;

  > div {
    margin-left: 0;
    margin-right: 0;
  }
}

.brighten {
   
   background: $button-color;

   .info .content button {
      background: #fff;

      &:hover,
      &:active,
      &:focus {
         background: $text-color;
      }
   }
}

.likeAnimation {
   position: absolute;
   z-index: 10;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 300px;
   color: #fff;
   text-shadow: 2px 2px 23px rgba(0, 0, 0, 0.4);
   opacity: 0;
   pointer-events: none;

   animation: animationFrames ease .3s;
   animation-iteration-count: 1;
   transform-origin: 50% 50%;
   -webkit-animation: animationFrames ease .2s;
   -webkit-animation-iteration-count: 1;
   -webkit-transform-origin: 50% 50%;
   -moz-animation: animationFrames ease .2s;
   -moz-animation-iteration-count: 1;
   -moz-transform-origin: 50% 50%;
   -o-animation: animationFrames ease .2s;
   -o-animation-iteration-count: 1;
   -o-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    opacity:1;
    transform:  scaleX(1.10) scaleY(1.10) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    opacity:1;
    -moz-transform:  scaleX(1.10) scaleY(1.10) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    opacity:1;
    -webkit-transform:  scaleX(1.10) scaleY(1.10) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    opacity:1;
    -o-transform:  scaleX(1.10) scaleY(1.10) ;
  }
}

