---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: directory
  path: src/posts
  label: Posts
  create: all
  match: "**/*"
upload_dir: blog/posts/images
public_path: blog/posts/images
front_matter_path: ''
use_front_matter_path: 
file_template: ":filename:-:year:-:month:-:day:."
build:
  preview_output_directory: public
  install_dependencies_command: npm install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run develop
