@import "../sass/vars.scss";
.psalm_1_1 {
	text-align: center;
	height: auto;
	p {
		color: #fff;
		padding: 95px 0 5px;
		font-size: 26px;
    	line-height: 180%;
    	text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);

    	em {
    		font-weight: bold;
    	}
	}
}
.psalm_1_2 {
	display: block;
	height: auto;
	p {
		color: #f8f7f6;
		margin-left: 55%;
	    padding: 42px 30px 140px;
	    font-size: 26px;
	    line-height: 190%;
    	text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	}
}
.psalm_1_3 {
	height: auto;
	p {
		color: #fff;
		padding: 95px 50px;
    	font-size: 26px;
    	line-height: 180%;
    	text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	}
}

@media (max-width: $max-tablet-width) {
	.psalm_1_1,
	.psalm_1_2,
	.psalm_1_3 {
		text-align: center;
		min-height: auto;
		p {
			line-height: 150%;
			font-size: 23px;
			margin-left: 0;
			padding: 50px 15px;

			br {
				display: none;
			}
		}
	}

	.psalm_1_3 {
		background-position: bottom right !important;
	}
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
	.psalm_1_1,
	.psalm_1_2,
	.psalm_1_3 {
		p {
			padding-left: 100px;
			padding-right: 100px;
		}
	}
	.psalm_1_2 {
		background-position: center !important;
	}
	.psalm_1_3 {
		background-position: top right !important;
	}
}