.button {
	
	display: inline-block;
	border-radius: $corner-radius;
	padding: 8px 20px 10px 10px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	
	i {
		font-size: 180%;
		margin-right: 10px;
		vertical-align: sub;
	}
	
	&:hover,
	&:focus {
		background: $button-hover-color;
		color: $button-hover-text-color;
		i {
			color: $button-hover-text-color;
		}
	}

	&[disabled] {
		background: #a97c6a;
		pointer-events: none;
		color: #e1cbc4;
	}
}
/* themes */
.default {
	background: $button-color;
	color: $link-color;
	
	i {
		color: $text-color;
	}
}
.red {
	background: #b43100;
	color: #fff;
	
	i {
		color: #fff;
	}
}
.rightAligned {
	display: flex;
    align-items: center;
	margin-right: -10px;
	i {
		margin-right: 0;
		margin-left: 10px;
	}
}