.shareMenu {
	position: absolute;
	right: 35px;
    top: -100px;

    ul {
    	@include box-shadow;
        list-style-type: none;
        margin: 0;
        border: 2px dashed #c7a08c;
        padding: 0;
        background: #f4e7dd;
        width: 243px;

        li {
        	display: inline-block;

        	button {
	            display: block;
	            padding: 12px 20px;
	            background: #faf3ee;
	            border-radius: 0;
	            width: 81px;
	            border: 2px solid #efded2;
	            text-transform: unset;

	            i {
	            	margin-right: 0;
	            }

	            &:hover,
	            &:active,
	            &:focus {
	                background: #fff;
	                color: $link-hover-color;
	                i {
	                    color: $text-color;
	                }
	            }
	        }
        }
    }
}

.shareMenu {
	@media(max-width: $max-mobile-width) {
		left: 50%;
        ul {
            transform: translateX(-50%);
        }
	}
}