@font-face {
  font-family: 'icomoon';
  src:
    url('/font-icons/font-icons.ttf?808t61') format('truetype'),
    url('/font-icons/ffont-icons.woff?808t61') format('woff'),
    url('/font-icons/ffont-icons.svg?808t61#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="font-icon-"], [class*=" font-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-icon-avery-signature:before {
  content: "\e922";
}
.font-icon-category-recreation:before {
  content: "\e906";
}
.font-icon-category-sanitary:before {
  content: "\e926";
}
.font-icon-category-shelter:before {
  content: "\e925";
}
.font-icon-scroll:before {
  content: "\e924";
}
.font-icon-time:before {
  content: "\e923";
}
.font-icon-dislike:before {
  content: "\e921";
}
.font-icon-like:before {
  content: "\e920";
}
.font-icon-info:before {
  content: "\e91e";
}
.font-icon-typewriter:before {
  content: "\e91f";
}
.font-icon-inventory-items:before {
  content: "\e91c";
}
.font-icon-side-nav:before {
  content: "\e91d";
}
.font-icon-minus:before {
  content: "\e917";
}
.font-icon-ellipsis:before {
  content: "\e914";
}
.font-icon-share:before {
  content: "\e910";
}
.font-icon-price-tag:before {
  content: "\e908";
}
.font-icon-trash-bin:before {
  content: "\e915";
}
.font-icon-close:before {
  content: "\e909";
}
.font-icon-previous:before {
  content: "\e90a";
}
.font-icon-next:before {
  content: "\e90b";
}
.font-icon-plus:before {
  content: "\e907";
}
.font-icon-averygoodidea-logo:before {
  content: "\e901";
}
.font-icon-category-spiritual:before {
  content: "\e91b";
}
.font-icon-category-healthcare:before {
  content: "\e91a";
}
.font-icon-envelope:before {
  content: "\e918";
}
.font-icon-textsms:before {
  content: "\e919";
}
.font-icon-rocket:before {
  content: "\e916";
}
.font-icon-adjust:before {
  content: "\e911";
}
.font-icon-inventory-item:before {
  content: "\e912";
}
.font-icon-synchronize:before {
  content: "\e913";
}
.font-icon-right:before {
  content: "\e90c";
}
.font-icon-left:before {
  content: "\e90e";
}
.font-icon-category-books:before {
  content: "\e90f";
}
.font-icon-category-gadgets:before {
  content: "\e90d";
}
.font-icon-category-water:before {
  content: "\e905";
}
.font-icon-category-fire:before {
  content: "\e902";
}
.font-icon-category-clothing:before {
  content: "\e903";
}
.font-icon-category-food:before {
  content: "\e904";
}
.font-icon-school-backpack:before {
  content: "\e900";
}
.font-icon-facebook:before {
  content: "\ea91";
}
.font-icon-whatsapp:before {
  content: "\ea93";
}
.font-icon-twitter:before {
  content: "\ea96";
}
.font-icon-pinterest:before {
  content: "\ead1";
}