@font-face {
  font-family: 'icomoon';
  src:
    url('/font-icons/font-icons.ttf?808t61') format('truetype'),
    url('/font-icons/font-icons.woff?808t61') format('woff'),
    url('/font-icons/font-icons.svg?808t61#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="font-icon-"], [class*=" font-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class="font-icon-github"]:before {
  content: "\e906";
}
[class="font-icon-facebook"]:before {
  content: "\ea91";
}
[class="font-icon-whatsapp"]:before {
  content: "\ea93";
}
[class="font-icon-twitter"]:before {
  content: "\ea96";
}
[class="font-icon-pinterest"]:before {
  content: "\ead1";
}
[class="font-icon-category-waterapi"]:before {
  content: "\e900";
}
[class="font-icon-category-aircdn"]:before {
  content: "\e902";
}
[class="font-icon-category-earthbucket"]:before {
  content: "\e903";
}
[class="font-icon-category-firerecord"]:before {
  content: "\e904";
}
[class="font-icon-avery-signature"]:before {
  content: "\e922";
}
[class="font-icon-scroll"]:before {
  content: "\e924";
}
[class="font-icon-time"]:before {
  content: "\e923";
}
[class="font-icon-dislike"]:before {
  content: "\e921";
}
[class="font-icon-like"]:before {
  content: "\e920";
}
[class="font-icon-info"]:before {
  content: "\e91e";
}
[class="font-icon-typewriter"]:before {
  content: "\e91f";
}
[class="font-icon-index"]:before {
  content: "\e91c";
}
[class="font-icon-side-nav"]:before {
  content: "\e91d";
}
[class="font-icon-minus"]:before {
  content: "\e917";
}
[class="font-icon-ellipsis"]:before {
  content: "\e914";
}
[class="font-icon-share"]:before {
  content: "\e910";
}
[class="font-icon-price-tag"]:before {
  content: "\e908";
}
[class="font-icon-trash-bin"]:before {
  content: "\e915";
}
[class="font-icon-close"]:before {
  content: "\e909";
}
[class="font-icon-previous"]:before {
  content: "\e90a";
}
[class="font-icon-next"]:before {
  content: "\e90b";
}
[class="font-icon-plus"]:before {
  content: "\e907";
}
[class="font-icon-averygoodidea-logo"]:before {
  content: "\e901";
}
[class="font-icon-envelope"]:before {
  content: "\e918";
}
[class="font-icon-textsms"]:before {
  content: "\e919";
}
[class="font-icon-rocket"]:before {
  content: "\e916";
}
[class="font-icon-adjust"]:before {
  content: "\e911";
}
[class="font-icon-inventory-item"]:before {
  content: "\e912";
}
[class="font-icon-synchronize"]:before {
  content: "\e913";
}
[class="font-icon-right"]:before {
  content: "\e90c";
}
[class="font-icon-left"]:before {
  content: "\e90e";
}